#start-menu {
	opacity: 0;
	transition: .5s;
}

// Start menu when not visible
#start-menu.hidden {
	opacity: 0;

	#scores {
		transform: translateY(-100%);
	}

	#play-btn {
		transform: $center scale(10);
	}
}

// Menu appears
#start-menu.visible {
	opacity: 1;
}


// Top left scores panel
#scores {
	color: $secondColor;
	display: flex;
  flex-direction: column;
  padding: 20px;
	position: absolute;
	top: 0;
	transition: .3s;
}

// Play button
#play-btn {
	@include centerElement(fixed);
	
	background: rgba(black, .1);
	border: none;
	border-radius: 50%;
  color: $secondColor;
  font-size: 1.1em;
	height: 100px;
	transform: $center scale(1);
  transition: .3s;
	width: 100px;
  
  &:hover {
		transform: $center scale(1.1);
  }
}

