#menu {
	display: none;
}

// When menu disappears
#menu.fadeOut {
	#scores {
		transform: translateY(-100%);
		transition: $fadeOutDuration;
	}

	#play-btn {
		transform: $center scale(10);
		opacity: 0;
		transition: $fadeOutDuration;
	}
}

// Top left scores panel
#scores {
	color: $secondColor;
	display: flex;
  flex-direction: column;
  padding: 20px;
	position: absolute;
	top: 0;
}

// Play button
#play-btn {
	@include centerElement(fixed);
	
	background: rgba(black, .1);
	border: none;
	border-radius: 50%;
  color: $secondColor;
  font-size: 1.1em;
  height: 100px;
  transition: .4s;
	width: 100px;
  
  &:hover {
    transform: $center scale(1.1);
    transition: .4s;
  }
}

