@import 'partials/variables';
@import 'partials/startMenu';
@import 'partials/gameUI';
@import 'partials/endScreen';

body {
	margin: 0;
	padding: 0;
	background: $mainColor;
	font-size: 1.5em;
	font-family: 'Montserrat';
}

// Edit default styles
button, input {
  outline: none;
}

button {
  cursor: pointer;
}  
//