#start-menu {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

#start-menu.fadeOut {
  opacity: 0;
  pointer-events: none;
}

#start-menu.fadeOut #scores {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

#start-menu.fadeOut #play-btn {
  -webkit-transform: translate(-50%, -50%) scale(10);
          transform: translate(-50%, -50%) scale(10);
}

#start-menu.fadeIn {
  opacity: 1;
  pointer-events: all;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

#scores {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  position: absolute;
  top: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

#play-btn {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 1.1em;
  height: 100px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: .3s;
  transition: .3s;
  width: 100px;
}

#play-btn:hover {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

#game-ui {
  -webkit-transition: .3s;
  transition: .3s;
}

#game-ui.fadeIn {
  opacity: 1;
  pointer-events: all;
}

#game-ui.fadeIn #bottom-bar {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(0);
          transform: translateX(-50%) translateY(0);
}

#game-ui.fadeOut,
#game-ui {
  opacity: 0;
  pointer-events: none;
}

#playground {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

#bottom-bar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 50%;
  opacity: 0;
  padding: 20px 0;
  position: fixed;
  -webkit-transform: translateX(-50%) translateY(100%);
          transform: translateX(-50%) translateY(100%);
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.word {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 500px;
  color: white;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 15px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@-webkit-keyframes fallingWords {
  0% {
    top: 0;
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
  }
  100% {
    top: 100%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}

@keyframes fallingWords {
  0% {
    top: 0;
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
  }
  100% {
    top: 100%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}

#score-label {
  font-size: 1em;
  color: white;
  margin-bottom: 10px;
}

#input {
  background: none;
  border: 4px solid;
  border-color: rgba(255, 255, 255, 0.6);
  color: white;
  font-family: inherit;
  font-size: inherit;
  height: 35px;
  padding: 5px 25px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: .2s;
  transition: .2s;
  width: 300px;
}

#input:hover {
  background: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.8);
  -webkit-transition: .2s;
  transition: .2s;
}

#input.invalid {
  -webkit-animation: error .2s ease;
          animation: error .2s ease;
}

@-webkit-keyframes error {
  25% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  75% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  100% {
    -webkit-transform: unset;
            transform: unset;
  }
}

@keyframes error {
  25% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  75% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  100% {
    -webkit-transform: unset;
            transform: unset;
  }
}

#end-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
  color: white;
  border-radius: 10px;
  width: 50vh;
}

#end-screen > * {
  margin-bottom: 25px;
  margin-top: 0;
}

#end-screen > *:first-child {
  margin-top: 25px;
}

#end-screen .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#end-screen .buttons button:first-child {
  margin-right: 50px;
}

#end-screen .buttons button {
  height: 40px;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: inset 0 0 0 3px white;
          box-shadow: inset 0 0 0 3px white;
  background: none;
  padding: 0 25px;
  color: inherit;
  -webkit-transition: .2s;
  transition: .2s;
  font-size: 1em;
}

#end-screen .buttons button:hover {
  background: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #3498db;
  -webkit-transition: .2s;
  transition: .2s;
}

#end-screen.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 1;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: animate 1.2s linear infinite;
          animation: animate 1.2s linear infinite;
  border: 5px solid;
  border-color: white transparent white;
  border-radius: 50%;
  height: 64px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: .3s;
  transition: .3s;
  width: 64px;
}

#loading.fadeIn {
  opacity: 1;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 0;
  background: #3498db;
  font-size: 1.5em;
  font-family: 'Montserrat';
}

button, input {
  outline: none;
}

button {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */